body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(130, 130, 130);
}    
#container{
    font-family: franklin 'Franklin Gothic Medium';
    background-color: rgb(30, 26, 26);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}
#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: hsl(0, 0%, 20%);
    color: white;
}
#buttons{
    display: grid;
    grid-template-columns: repeat(4 ,1fr);
    gap: 10px;
    padding: 25px;
}
button:hover{
    background-color: rgb(194, 196, 195);
    color: skyblue;
}
button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: hsl(0, 0%, 30%);
    font-size: 3rem;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.5s ease;

}
button:active{
    background-color: hsl(0, 0%, 30%);
}
.op-btn{
    background-color: orange;
    color:white ;
}
.op-btn:hover{
    color: skyblue;
    background-color: rgb(245, 187, 78);
}
.op-btn:active{
    background-color: darkorange;
}